body{
  background: #ddd;
}
.flex-parent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid;
}
.profile-child{
  background:#fff;
  width: 30%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px #000;
}
.content-child{
  background:#fff;
  width: 70%;
  padding: 2%;
  margin: 1%;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px #000;
}
h1{
  background: #ddd;
  padding: 1%;
  text-align: center;
}
.profile-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height: auto;
}
.profile-circle{
  border-radius: 50%;
  border: 1px solid #ddd;
}
a{
  text-decoration: none;
}
@media only screen and (min-width:320px) and (max-width:480px) {
  .flex-parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: 1px solid;
  }
  .profile-child{
    background:pink;
    width: 100%;
    padding: 2%;
    margin: 1%;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #000;
  }
  .content-child{
    background:#fff;
    width: 100%;
    padding: 2%;
    margin: 1%;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #000;
  }

}
@media only screen and (min-width:481px) and (max-width:768px) {
  .flex-parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: 1px solid;
  }
  .profile-child{
    background:skyblue;
    width: 70%;
    padding: 2%;
    margin: 1%;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #000;
  }
  .content-child{
    background:#fff;
    width: 50%;
    padding: 2%;
    margin: 1%;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #000;
  }

}
@media only screen and (min-width:769px) and (max-width:1024px) {
  .flex-parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border: 1px solid;
  }
  .profile-child{
    background:#978;
    width: 70%;
    padding: 2%;
    margin: 1%;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #000;
  }
  .content-child{
    background:#fff;
    width: 50%;
    padding: 2%;
    margin: 1%;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 3px #000;
  }

}
